<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<meta name="author" content="Stan Lee">
		<meta name="description" content="blog site version 4.0">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Stan</title>
		<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/index<staticVersion>css">
	</head>
	<body>
		<div id="compassIcon"><i class="fa fa-compass"></i></div>
		<div id="root" class="hidden"></div>
		<script src="/jquery/3.3.1/jquery.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
		<script src="/index<staticVersion>js"></script>
	</body>
</html>
