.modal-body {
    min-height: 12.5rem;
    padding: 0.25rem 0.75rem;

    #loginForm,
    #registerForm {
        .form-group {
            margin-bottom: 0.5rem;

            label {
                margin-bottom: 0.25rem;
            }
        }
    }
}
