.page-user {
    .user-center {
        padding-top: 0;
    }
}

@media (min-width: 576px) {
    .page-user {
        .user-center {
            padding-top: 1rem;
        }
    }
}

@import url(./user-overview.postcss);
@import url(./user-info.postcss);
@import url(./user-ad.postcss);
@import url(./user-comment.postcss);
