.page-user {
    .user-ad {
        max-height: 60px;
        padding: 10px 15px;
        margin: 0 0 10px 0;
        border: 1px solid var(--color-grey-lighter);
        border-radius: 0;
    }
}

@media (min-width: 768px) {
    .page-user {
        .user-ad {
            padding: 10px 15px;
            margin: 0 5px 10px 0;
            border: 1px solid var(--color-grey-lighter);
            border-radius: 0 0 0 5px;
        }
    }
}
