.page-user {
    .user-overview {
        padding: 10px 15px;
        margin: 0 0 10px 0;
        border: 1px solid var(--color-grey-lighter);
        border-radius: 5px 5px 0 0;
    }
}

@media (min-width: 576px) {
    .page-user {
        .user-overview {
            padding: 10px 15px;
            margin: 0 5px 10px 0;
            border: 1px solid var(--color-grey-lighter);
            flex: 0 0 calc(33.333333% - 5px);
            border-radius: 5px 0 0 0;
        }
    }
}
