.page-user {
    .user-comment {
        padding: 10px 15px;
        margin: 0 0 10px 0;
        border: 1px solid var(--color-grey-lighter);
        border-radius: 0 0 5px 5px;
    }
}

@media (min-width: 768px) {
    .page-user {
        .user-comment {
            padding: 10px 15px;
            margin: 0 0 10px 5px;
            border: 1px solid var(--color-grey-lighter);
            flex: 0 0 calc(66.666667% - 10px);
            border-radius: 0 0 5px 0;
        }
    }
}
