@charset "utf-8";

html {
    font-size: 16px;
}

@media (min-width: 1200px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 18.4px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 20px;
    }
}

body, #root, #root .app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hidden {
    display: none;
}

body {
    overflow: hidden;
}

body * {
    word-wrap: break-word;
    word-break: break-all;
}

/* 引入特定字体 */

@font-face {
	font-family: consola;
	src: url(fonts/Consolas/index.ttf) format('truetype');
}

@font-face {
	font-family: "snell roundhand script";
	src: url(fonts/Snell-Roundhand-Script/index.ttf) format('truetype');
}

@font-face {
    font-family: "brush script mt";
    src: url(fonts/Brush-Script-MT/index.ttf) format('truetype');
}

/* 覆盖 bootstrap 默认主题色 */

a {
    color: #5e87a2;
}

a:hover {
        color: rgb(94, 160, 204);
    }

.btn-primary {
    background-color: #5e87a2;
    border-color: rgb(94, 160, 204);
}

.btn-primary:hover {
        background-color: rgb(94, 160, 204);
        border-color: rgb(94, 160, 204);
    }

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: rgb(94, 160, 204);
    border-color: rgb(94, 160, 204);
}

/* 源码显示区域 */

code {
    padding: 0 5px;
    font-family: consola;
}

/* 滚动条部分 */

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    background-color: #f5f5f5;
}

/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .3);
    border-radius: 5px;
    background-color: #f5f5f5;
}

/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .3);
    background-color: #555;
}

#root {
    overflow: hidden;
    background: url(img/main-bg.jpg) no-repeat center center / cover;
}

#root .app {
    overflow-y: auto;
    background-color: rgba(255, 255, 255, .95);
}

#root .app .page-section-header + .page-section-body {
    max-width: 1200px;
    padding: 0.25rem;
    margin: calc(2.5rem + 1px) auto 0;
}

@keyframes fade-in {
	0% { opacity: 0;-webkit-transform: translateY(10px);transform: translateY(10px); }
	100% {opacity: 1;-webkit-transform: translateY(0);transform: translateY(0); }
}

@-webkit-keyframes fade-in {
	0% { opacity: 0;-webkit-transform: translateY(10px);transform: translateY(10px); }
	100% {opacity: 1;-webkit-transform: translateY(0);transform: translateY(0); }
}

.fade-in-animate {
	animation: fade-in 1s ease;
	-o-animation: fade-in 1s ease;
	-ms-animation: fade-in 1s ease;
	-moz-animation: fade-in 1s ease;
	-webkit-animation: fade-in 1s ease;
}

.stan-loading-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    background-color: rgba(255, 255, 255, .75);
}

.stan-loading-container .stan-loading-content {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 50%;
        left: 50%;
        padding: 0;
        margin-left: -50px;
        margin-top: -50px;
    }

.stan-loading-container .stan-loading-content .loading {
            display: block;
            width: 100%;
            height: 100%;
        }

._fix_src_of_img_dom_in_js {
    background: url(/img/loading.gif);
}

.stan-alert-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    background-color: rgba(255, 255, 255, .75);
}

.stan-alert-container .alert {
        position: absolute;
        width: 750px;
        height: 100px;
        top: 50%;
        left: 50%;
        padding: 25px 25px 15px;
        margin-left: -375px;
        margin-top: -100px;
    }

.stan-alert-container .alert .close {
            position: absolute;
            display:  block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            right: 0;
            top: 0;
        }

@media (min-width: 768px) and (max-width: 979px) {
    .stan-alert-container .alert {
        width: 600px;
        height: 150px;
        margin-left: -300px;
        margin-top: -75px;
    }
}

@media (max-width: 767px) {
    .stan-alert-container .alert {
        width: 500px;
        height: 200px;
        margin-left: -250px;
        margin-top: -100px;
    }
}

@media (max-width: 480px) {
    .stan-alert-container .alert {
        width: 250px;
        height: 300px;
        margin-left: -125px;
        margin-top: -15px;
    }
}

#compassIcon {
    position: fixed;
    display: none;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    right: 0;
    top: 0;
    margin-top: 2.5rem;
    text-align: center;
    opacity: 0.75;
    z-index: 99999;
}

#compassIcon .fa {
    font-size: 1.25rem;
    color: #555;
}

@media (min-width: 1200px) {
    #compassIcon {
        margin-right: 50px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #compassIcon {
        margin-right: 0.25rem;;
    }
}

@media (max-width: 767px) {
    #compassIcon {
        margin-right: 0.25rem;;
    }
}

@media (max-width: 480px) {
    #compassIcon {
        margin-right: 0.25rem;;
    }
}

.app .page-section-header {
        position: fixed;
        display: block;
        height: 2.5rem;
        line-height: 2rem;
        top: 0;
        left: 0;
        right: 0;
        padding: 0.25rem;
        background-color: #fff;
        z-index: 999999;
    }

.app .page-section-header:after {
            content: "";
            position: absolute;
            display: block;
            height: 1px;
            left: -1000px;
            right: -1000px;
            bottom: 0;
            background-color: #ddd;
        }

.app .page-section-header .page-section-header-container {
            max-width: 1200px;
            height: 2rem;
            margin: 0 auto;
        }

.app .page-section-header .page-section-header-container .navbar-left {
                float: left;
            }

.app .page-section-header .page-section-header-container .navbar-right {
                float: right;
            }

.app .page-section-header .page-section-header-container .logo-container .logo {
                    display: block;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    background: url(img/logo.jpg) no-repeat center center / cover;
                }

.app .page-section-header .page-section-header-container .navbar {
                display: block;
                height: 2rem;
                padding: 0;
            }

.app .page-section-header .page-section-header-container .navbar .navbar-toggler {
                    display: none;
                    width: 2rem;
                    height: 2rem;
                    line-height: 2rem;
                    padding: 0;
                    border: none;
                    text-align: center;
                    background: transparent;
                }

.app .page-section-header .page-section-header-container .navbar .nav-link {
                    height: 2rem;
                    line-height: 2rem;
                    padding: 0 1rem;
                    text-align: center;
                    cursor: pointer;
                }

.app .page-section-header .page-section-header-container .navbar .user-center-link:before {
                        content: "Welcom, ";
                        color: #fd7e14;
                    }

.app .page-section-header .page-section-header-container .navbar .user-center-link .inactived-tips {
                        color: #aaa;
                        font-size: 0.75em;
                    }

.app .page-section-header .page-section-header-container .navbar .logout-link {
                    color: #dc3545;
                }

/* 小屏设备 */

@media (max-width: 575.98px) {

                    .app .page-section-header .page-section-header-container .navbar .navbar-toggler {
                        display: block;
                    }

                    .app .page-section-header .page-section-header-container .navbar .navbar-collapse {
                        position: fixed;
                        top: 0;
                        left: 0;
                        right: 0;
                        margin-top: 2.5rem;
                        background-color: #f0f0f0;
                    }
}

/*! ========================================================================
 * Bootstrap Toggle: bootstrap-toggle.css v2.2.0
 * http://www.bootstraptoggle.com
 * ========================================================================
 * Copyright 2014 Min Hur, The New York Times Company
 * Licensed under MIT
 * ======================================================================== */

.checkbox label .toggle, .checkbox-inline .toggle {
	margin-left: -20px;
	margin-right: 5px;
}

.toggle {
	position: relative;
	overflow: hidden;
}

.toggle input[type="checkbox"] {
	display: none;
}

.toggle-group {
	position: absolute;
	width: 200%;
	top: 0;
	bottom: 0;
	left: 0;
	transition: left 0.35s;
	-webkit-transition: left 0.35s;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.toggle.off .toggle-group {
	left: -100%;
}

.toggle-on {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	margin: 0;
	border: 0;
	border-radius: 0;
}

.toggle-off {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
}

.toggle-handle {
	position: relative;
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 100%;
	width: 0px;
	border-width: 0 1px;
}

.toggle.btn { min-width: 59px; min-height: 34px; }

.toggle-on.btn { padding-right: 24px; }

.toggle-off.btn { padding-left: 24px; }

.toggle.btn-lg { min-width: 79px; min-height: 45px; }

.toggle-on.btn-lg { padding-right: 31px; }

.toggle-off.btn-lg { padding-left: 31px; }

.toggle-handle.btn-lg { width: 40px; }

.toggle.btn-sm { min-width: 50px; min-height: 30px;}

.toggle-on.btn-sm { padding-right: 20px; }

.toggle-off.btn-sm { padding-left: 20px; }

.toggle.btn-xs { min-width: 35px; min-height: 22px;}

.toggle-on.btn-xs { padding-right: 12px; }

.toggle-off.btn-xs { padding-left: 12px; }

#switch_In_Up_container {
    margin: 0.25rem 0 0.75rem;
}

#switch_In_Up_container .toggle {
        display: block;
        min-width: 100%;
        min-height: 2rem;
        line-height: 2rem;
        padding: 0;
    }

#switch_In_Up_container .toggle .toggle-group .toggle-on, #switch_In_Up_container .toggle .toggle-group .toggle-off {
                height: 2rem;
                line-height: calc(2rem - 2px);
                padding: 0;
                color: #fff;
                background-color: rgb(94, 160, 204);
                border: 1px solid rgb(94, 160, 204);
            }

#switch_In_Up_container .toggle .toggle-group .toggle-handle {
                display: block;
                height: calc(2rem - 2px);
                background-color: #6610f2;
                border: 1px solid #6610f2;
                pointer-events: none;
            }

#loginModal {
    z-index: 999999;

}

#loginModal .modal-dialog {
        top: 50%;
        margin-top: -10rem;   /* (0.25 + 1.5 + 0.25 + 0.25 + 15 + 0.25) / 2 + 1.25 */
    }

#loginModal .modal-header {
    padding: 0.25rem 0.75rem;
}

#loginModal .modal-header .modal-title {
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: 400;
    }

#loginModal .modal-header .close {
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 1rem;
    }

#loginModal .modal-body {
    min-height: 12.5rem;
    padding: 0.25rem 0.75rem;
}

#loginModal .modal-body #loginForm .form-group, #loginModal .modal-body #registerForm .form-group {
            margin-bottom: 0.5rem;
        }

#loginModal .modal-body #loginForm .form-group label, #loginModal .modal-body #registerForm .form-group label {
                margin-bottom: 0.25rem;
            }

#loginModal .modal-footer {
    padding: 0 0.75rem 0.75rem;
    border-top: none;
}

#loginModal .modal-footer .submit-btn {
        height: 2rem;
        line-height: calc(2rem - 2px);
        padding: 0 0.75rem;
        color: #fff;
    }

.page-home .main {
        text-align: center;
        max-width: 750px;
        margin: 10rem auto auto;
    }

.page-home .main .main-title {
            height: 3.75rem;
            line-height: 3.75rem;
            margin: 0;
            font-family: "snell roundhand script", "brush script mt";
            font-size: 3rem;
            font-weight: 300;
            color: #555;
        }

.page-home .main .sub-title {
            line-height: 1.75rem;
            margin: 0.5rem 0 0.75rem;
            font-family: consola;
            font-size: 1.25rem;
            font-weight: 300;
            color: #777;
            word-wrap: break-word;
            word-break: keep-all;
            text-transform:capitalize;
        }

.page-home .main .refer-info {
            height: 1.5rem;
            line-height: 1.5rem;
            margin: 0;
            font-size: 1rem;
            font-weight: 300;
            color: #aaa;
        }

.page-home .main .quick-link-container {
            margin-top: 1.5rem;
        }

.page-home .main .quick-link-container .quick-link-content {
                height: 2.5rem;
                margin: 1.25rem 0;
                background: transparent;
            }

.page-home .main .quick-link-container .quick-link-content .quick-link {
                    position: relative;
                    display: inline-block;
                    height: 2.5rem;
                    line-height: calc(2.5rem - 2px);
                    padding: 0 1rem 0 3.5rem;
                    border: 1px solid #aaa;
                    border-radius: 1.5rem;
                    color: #777;
                    background: transparent;
                }

.page-home .main .quick-link-container .quick-link-content .quick-link:hover {
                        text-decoration: none;
                        color: #000;
                    }

.page-home .main .quick-link-container .quick-link-content .quick-link .link-img {
                        position: absolute;
                        display: block;
                        width: 1.5rem;
                        height: 1.5rem;
                        left: 1.25rem;
                        top: 0.5rem;
                        border-radius: 50%;
                    }

.page-home .main .quick-link-container .quick-link-content .quick-link .link-img.github-link {
                        border-radius: 0;
                        background: url(img/github-logo.png) no-repeat center center / cover;
                    }

.page-home .main .quick-link-container .quick-link-content .quick-link .link-img.blog-link {
                        background: url(img/logo.jpg) no-repeat center center / cover;
                    }

@media (min-width: 768px) and (max-width: 979px) {
        .page-home .main {
            margin-top: 7.5rem;
        }
}

@media (max-width: 767px) {
        .page-home .main {
            margin-top: 5rem;
        }
}

@media (max-width: 480px) {
        .page-home .main {
            margin-top: 2.5rem;
        }
}


