@charset "utf-8";

html {
    font-size: 16px;
}

@media (min-width: 1200px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 18.4px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 20px;
    }
}

/* 引入特定字体 */

@font-face {
	font-family: consola;
	src: url(fonts/Consolas/index.ttf) format('truetype');
}

@font-face {
	font-family: "snell roundhand script";
	src: url(fonts/Snell-Roundhand-Script/index.ttf) format('truetype');
}

@font-face {
    font-family: "brush script mt";
    src: url(fonts/Brush-Script-MT/index.ttf) format('truetype');
}

body, #root, #root .app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
    overflow: hidden;
}

body * {
    word-wrap: break-word;
    word-break: break-all;
}

#root {
    overflow: hidden;
    background: url(img/main-bg.jpg) no-repeat center center / cover;
}

#root .app {
    overflow-y: auto;
    background-color: rgba(255, 255, 255, .95);
}

#root .app .page-section-header + .page-section-body {
    max-width: 1200px;
    padding: 0.25rem;
    margin: calc(2.5rem + 1px) auto 0;
}

/* 源码显示区域 */

code {
    padding: 0 5px;
    font-family: consola;
}

/* 滚动条部分 */

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .3);
    background-color: #555;
}

#compassIcon {
    position: fixed;
    display: none;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    right: 0;
    top: 0;
    margin-top: 2.5rem;
    text-align: center;
    opacity: 0.75;
    z-index: 99999;
}

#compassIcon .fa {
    font-size: 1.25rem;
    color: #555;
}

@media (min-width: 1200px) {
    #compassIcon {
        margin-right: 50px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #compassIcon {
        margin-right: 0.25rem;;
    }
}

@media (max-width: 767px) {
    #compassIcon {
        margin-right: 0.25rem;;
    }
}

@media (max-width: 480px) {
    #compassIcon {
        margin-right: 0.25rem;;
    }
}

.app .page-section-header {
        position: fixed;
        display: block;
        height: 2.5rem;
        line-height: 2rem;
        top: 0;
        left: 0;
        right: 0;
        padding: 0.25rem;
        background-color: #fff;
        z-index: 999999;
    }

.app .page-section-header:after {
            content: "";
            position: absolute;
            display: block;
            height: 1px;
            left: -1000px;
            right: -1000px;
            bottom: 0;
            background-color: #ddd;
        }

.app .page-section-header .page-section-header-container {
            max-width: 1200px;
            height: 2rem;
            margin: 0 auto;
        }

.app .page-section-header .page-section-header-container .navbar-left {
                float: left;
            }

.app .page-section-header .page-section-header-container .navbar-right {
                float: right;
            }

.app .page-section-header .page-section-header-container .logo-container .logo {
                    display: block;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    background: url(img/logo.jpg) no-repeat center center / cover;
                }

.app .page-section-header .page-section-header-container .navbar {
                display: block;
                height: 2rem;
                padding: 0;
            }

.app .page-section-header .page-section-header-container .navbar .navbar-toggler {
                    display: none;
                    width: 2rem;
                    height: 2rem;
                    line-height: 2rem;
                    padding: 0;
                    border: none;
                    text-align: center;
                    background: transparent;
                }

.app .page-section-header .page-section-header-container .navbar .nav-link {
                    height: 2rem;
                    line-height: 2rem;
                    padding: 0 1rem;
                    text-align: center;
                    cursor: pointer;
                }

/* 小屏设备 */

@media (max-width: 575.98px) {

                    .app .page-section-header .page-section-header-container .navbar .navbar-toggler {
                        display: block;
                    }

                    .app .page-section-header .page-section-header-container .navbar .navbar-collapse {
                        position: fixed;
                        top: 0;
                        left: 0;
                        right: 0;
                        margin-top: 2.5rem;
                        background-color: #f0f0f0;
                    }
}

#loginModal {
    z-index: 999999;

}

#loginModal .modal-dialog {
        top: 50%;
        margin-top: -10rem;   /* (0.25 + 1.5 + 0.25 + 0.25 + 15 + 0.25) / 2 + 1.25 */
    }

#loginModal .modal-header {
    padding: 0.25rem 0.75rem;
}

#loginModal .modal-header .modal-title {
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: 400;
    }

#loginModal .modal-header .close {
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 1rem;
    }

#loginModal .modal-body {
    height: 15rem;
    padding: 0.25rem 0.75rem;
}

#loginModal .modal-body .logo-container {
        position: absolute;
        width: 3rem;
        height: 3rem;
        left: 50%;
        top: 0;
        margin-left: -1.5rem;
        margin-top: 0.5rem;
        border-radius: 50%;
        background: url(img/logo.jpg) no-repeat center center / cover;
    }

#loginModal .modal-footer {
    padding: 0 0.75rem 0.75rem;
    border-top: none;
}

#loginModal .modal-footer .submit-btn {
        height: 2rem;
        line-height: calc(2rem - 2px);
        padding: 0 0.75rem;
        color: #fff;
    }

.page-home .main {
        text-align: center;
        max-width: 750px;
        margin: 5rem auto auto;
    }

.page-home .main .main-title {
            height: 3.75rem;
            line-height: 3.75rem;
            margin: 0;
            font-family: "snell roundhand script", "brush script mt";
            font-size: 3rem;
            font-weight: 300;
            color: #555;
        }

.page-home .main .sub-title {
            line-height: 1.75rem;
            margin: 0.5rem 0 0.75rem;
            font-family: consola;
            font-size: 1.25rem;
            font-weight: 300;
            color: #777;
            word-wrap: break-word;
            word-break: keep-all;
            text-transform:capitalize;
        }

.page-home .main .refer-info {
            height: 1.5rem;
            line-height: 1.5rem;
            margin: 0;
            font-size: 1rem;
            font-weight: 300;
            color: #aaa;
        }

.page-home .main .quick-link-container {
            margin-top: 1.5rem;
        }

.page-home .main .quick-link-container .quick-link-content {
                height: 2.5rem;
                margin: 1.25rem 0;
                background: transparent;
            }

.page-home .main .quick-link-container .quick-link-content .quick-link {
                    position: relative;
                    display: inline-block;
                    height: 2.5rem;
                    line-height: calc(2.5rem - 2px);
                    padding: 0 1rem 0 3.5rem;
                    border: 1px solid #aaa;
                    border-radius: 1.5rem;
                    color: #777;
                    background: transparent;
                }

.page-home .main .quick-link-container .quick-link-content .quick-link:hover {
                        text-decoration: none;
                        color: #000;
                    }

.page-home .main .quick-link-container .quick-link-content .quick-link .link-img {
                        position: absolute;
                        display: block;
                        width: 1.5rem;
                        height: 1.5rem;
                        left: 1.25rem;
                        top: 0.5rem;
                        border-radius: 50%;
                    }

.page-home .main .quick-link-container .quick-link-content .quick-link .link-img.github-link {
                        border-radius: 0;
                        background: url(img/github-logo.png) no-repeat center center / cover;
                    }

.page-home .main .quick-link-container .quick-link-content .quick-link .link-img.blog-link {
                        background: url(img/logo.jpg) no-repeat center center / cover;
                    }

