/* 引入特定字体 */
@font-face {
	font-family: consola;
	src: url(fonts/Consolas/index.ttf) format('truetype');
}
@font-face {
	font-family: "snell roundhand script";
	src: url(fonts/Snell-Roundhand-Script/index.ttf) format('truetype');
}
@font-face {
    font-family: "brush script mt";
    src: url(fonts/Brush-Script-MT/index.ttf) format('truetype');
}
