@keyframes move-animate {
	0% { padding-left: 0; }
	100% { padding-left: 15px; }
}
@-o-keyframes move-animate {
	0% { padding-left: 0; }
	100% { padding-left: 15px; }
}
@-ms-keyframes move-animate {
	0% { padding-left: 0; }
	100% { padding-left: 15px; }
}
@-moz-keyframes move-animate {
	0% { padding-left: 0; }
	100% { padding-left: 15px; }
}
@-webkit-keyframes move-animate {
	0% { padding-left: 0; }
	100% { padding-left: 15px; }
}
