#root {
    overflow: hidden;
    background: url(img/main-bg.jpg) no-repeat center center / cover;
}

#root .app {
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.95);
}

#root .app .page-section-header + .page-section-body {
    position: relative;
    max-width: 1200px;
    padding: 0.25rem;
    margin: calc(2.5rem + 1px) auto 0;
}
