.common-modal {
    z-index: 999999;

    .modal-dialog {
        top: 50%;
        margin-top: -10rem;   /* (0.25 + 1.5 + 0.25 + 0.25 + 15 + 0.25) / 2 + 1.25 */
    }

    @import url(./modal-header.postcss);

    @import url(./modal-body.postcss);

    @import url(./modal-footer.postcss);
}