.modal-body {
    position: relative;
    min-height: 12.5rem;
    padding: 0.25rem 0.75rem;

    form {
        .form-group {
            margin-bottom: 0.5rem;

            label {
                margin-bottom: 0.25rem;
            }
        }
    }
}