.modal-footer {
    padding: 0 0.75rem 0.75rem;
    border-top: none;

    .submit-btn {
        height: 2rem;
        line-height: calc(2rem - 2px);
        padding: 0 0.75rem;
        color: #fff;
    }
}
