.modal-body {
    height: 15rem;
    padding: 0.25rem 0.75rem;

    .logo-container {
        position: absolute;
        width: 3rem;
        height: 3rem;
        left: 50%;
        top: 0;
        margin-left: -1.5rem;
        margin-top: 0.5rem;
        border-radius: 50%;
        background: url(img/logo.jpg) no-repeat center center / cover;
    }
}
