<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<meta name="author" content="Stan Lee">
		<meta name="description" content="oops page">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>oops</title>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<link rel="stylesheet" href="<staticServer>/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="<staticServer>/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="<staticServer>/index<staticVersion>css">
		<style>
			#root .app > div {
				position: absolute;
				display: block;
				height: 20px;
				line-height: 20px;
				top: 50%;
				left: 0;
				right: 0;
				margin-top: -10px;
			}
		</style>
	</head>
	<body>
		<div id="compassIcon"><i class="fa fa-compass"></i></div>
		<div id="root">
			<div class="app">
				<div class="text-center text-danger">
					<errorContent>
					<br><br>
					go to <a href="/" class="text-bold">HOME</a>
				</div>
			</div>
		</div>
		<script src="<staticServer>/jquery/3.3.1/jquery.min.js"></script>
		<script src="<staticServer>/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>