.app-container {

    .page-section-header {
        height: 2.5rem;
        line-height: 2rem;
        padding: 0.25rem;

        .navbar-left {
            float: left;
        }

        .logo-container {
            display: block;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background: url(/img/logo.jpg) no-repeat center center / cover;
        }

        .navbar-right {
            float: right;
        }
    }
}
