html {
    font-size: var(--font--size--basic);
}

@media (min-width: 1200px) {
    html {
        font-size: calc(var(--font--size--basic) * 0.85);
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    html {
        font-size: calc(var(--font--size--basic) * 0.95);
    }
}

@media (max-width: 767px) {
    html {
        font-size: calc(var(--font--size--basic) * 1);
    }
}

@media (max-width: 480px) {
    html {
        font-size: calc(var(--font--size--basic) * 1.05);
    }
}