:root {
    --font--size--basic: 16px;

    --font-consola: consola;
    --font-roundhand: "snell roundhand script";
    --font-brush: "brush script mt";

    --color-grey-dark: #555;
    --color-grey: #777;
    --color-grey-light: #aaa;
}
