.page-paper {
    .paper-container {
        padding: 0;

        .paper-content {
            padding: 5px;
            border: 1px solid var(--color-grey-lighter);
            border-radius: 5px;
        }
    }
}

@media (min-width: 768px) {
    .page-paper {
        .paper-container {
            padding: 5px 0 5px 5px;
        }
    }
}
