#replyModal {
    #replyForm {
        position: relative;
        display: block;
        height: 11rem;
        margin: 0.5rem 0;

        #replyInput {
            display: block;
            width: 100%;
            height: 100%;
            padding: 5px;
            margin: 0px;
            outline: none;
            border: 1px solid var(--color-grey-lighter);
            border-radius: 5px;
            resize: none;
        }
    }
}
