@charset "utf-8";

@import url(./style/variables.postcss);
@import url(./style/responsive.postcss);

@import url(./style/common/index.postcss);

@import url(./style/page-home/index.postcss);
@import url(./style/page-user/index.postcss);
@import url(./style/page-catalogue/index.postcss);
