@media (min-width: 768px) and (max-width: 979px) {
    .page-home {
        .main {
            margin-top: 7.5rem;
        }
    }
}

@media (max-width: 767px) {
    .page-home {
        .main {
            margin-top: 5rem;
        }
    }
}

@media (max-width: 480px) {
    .page-home {
        .main {
            margin-top: 2.5rem;
        }
    }
}
