@media (min-width: 1200px) {
    #compassIcon {
        margin-right: 50px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #compassIcon {
        margin-right: 0.25rem;;
    }
}

@media (max-width: 767px) {
    #compassIcon {
        margin-right: 0.25rem;;
    }
}

@media (max-width: 480px) {
    #compassIcon {
        margin-right: 0.25rem;;
    }
}
